.start-label-box {
    background-image: url('../../assets/img/startscreen.png');
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    position: relative;


    button {
        font-size: 36px;
        background-color: rgb(158, 22, 29);
        border: none;
        border-radius: 20px;
        padding: 35px;
        color: white;
        position: absolute;
        bottom: 50px;
        left: 7%;
        font-family: Roboto, "Helvetica Neue", sans-serif;

        @media(max-width: 770px) {
            left: 5%;
            font-size: 28px;
            padding: 25px;
        }

        @media(max-width: 470px) {
            left: 2%;
            font-size: 22px;
            padding: 20px;
        }


        &:hover {
            filter: brightness(1.5);
            cursor: pointer;
        }
    }
}