.send-link-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;

    a {
        background-color: #3F51B5;
        text-decoration: none;
        color: white;
        border-radius: 10px;
        padding: 15px;
        font-size: 16px;
        border: none;
        align-items: center;

        &:hover {
            cursor: pointer;
            filter: brightness(1.2);
        }
    }
}

.mat-mdc-dialog-actions {
    justify-content: center;
}

.d-none {
    display: none;
}

.copied-link {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 13%;
    z-index: 30;
    background-color: rgba(140, 140, 140, 0.9);
    color: white;
    width: max-content;
    font-size: 18px;
    height: max-content;
    padding: 12px;
    border-radius: 15px;
}